---
import BaseLayout from "@/layouts/BaseLayout.astro";

const TITLE = "Skulpture";
const DESCRIPTION = "Software, Delivery, Advisory";
---

<BaseLayout title={TITLE} description={DESCRIPTION}>
	<h1>{TITLE}</h1>
</BaseLayout>
