@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 0%;

		--card: 240 5.26% 96.27%;
		--card-foreground: 210 1.69% 23.14%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 0%;

		--primary: 66.67 70.31% 25.1%;
		--primary-foreground: 0 0% 100%;

		--secondary: 0 0% 87.84%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 0 0% 95.29%;
		--muted-foreground: 0 0% 18.82%;

		--accent: 0 0% 92.16%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 100%;

		--input: 228 2% 52%;
		--border: 0 0% 92.16%;
		--ring: 0 0% 78.82%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 0%;
		--foreground: 0 0% 100%;

		--card: 0 0% 3%;
		--card-foreground: 0 0% 100%;

		--popover: 0 0% 3%;
		--popover-foreground: 0 0% 100%;

		--primary: 67 90% 56%;
		--primary-foreground: 0 0% 0%;

		--secondary: 0 0% 10%;
		--secondary-foreground: 0 0% 100%;

		--muted: 0 0% 9%;
		--muted-foreground: 0 0% 45%;

		--accent: 0 0% 10%;
		--accent-foreground: 0 0% 100%;

		--destructive: 0 72% 51%;
		--destructive-foreground: 0 0% 100%;

		--border: 0 0% 15%;
		--input: 0 0% 20%;
		--ring: 67 90% 56%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}
